/.vscode
/.history
/.vs

/autom4te.cache/
/l2switch/l2switch
/aclocal.m4
/compile
/config.h
/config.h.in~
/config.log
/config.status
/configure
/depcomp
/install-sh
/missing
/stamp-h1

Makefile
Makefile.in
*.o
*.a
.deps/
